<mat-grid-list [cols]="4" rowHeight="fit" class="rbac-panel">
    <mat-grid-tile>
        <mat-grid-tile-header class="rbac-header">
            <mat-form-field>
                <mat-select placeholder="Subjects" [multiple]="true" [(value)]="selectedSubjects"
                            (valueChange)="calculateVisibleObjects()" [disableOptionCentering]="true">
                    <ngx-mat-select-search placeholderLabel="Filter" noEntriesFoundLabel="No matches found"
                                           [formControl]="subjectFilterCtrl">
                    </ngx-mat-select-search>
                    <mat-optgroup label="User">
                        <mat-option *ngFor="let s of selectFilteredUsers | async" [value]="s">
                        {{s.name}}
                        </mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Groups">
                        <mat-option *ngFor="let s of selectFilteredGroups | async " [value]="s">
                        {{s.name}}
                        </mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="ServiceAccounts">
                        <mat-option *ngFor="let s of selectFilteredServiceAccounts | async" [value]="s">
                        {{s.name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="resetSubjectFilter()">
                <mat-icon aria-label="Reset">clear</mat-icon>
            </button>
        </mat-grid-tile-header>

        <mat-accordion [multi]="true" class="subjects-panel">
            <mat-expansion-panel [expanded]="true" [hideToggle]="true" *ngIf="visibleUsers.length>0"
                                 class="subjects-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        User
                    </mat-panel-title>
                    <mat-panel-description class="subjects-icon">
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <mat-list class="subjects-list">
                        <mat-list-item *ngFor="let subject of visibleUsers; last as last">
                        {{subject.name}}
                            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true" [hideToggle]="true" *ngIf="visibleGroups.length>0"
                                 class="subjects-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Groups
                    </mat-panel-title>
                    <mat-panel-description class="subjects-icon">
                        <mat-icon>group</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <mat-list class="subjects-list">
                        <mat-list-item *ngFor="let subject of visibleGroups; last as last">
                        {{subject.name}}
                            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true" [hideToggle]="true" *ngIf="visibleServiceAccounts.length>0"
                                 class="subjects-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ServiceAccounts
                    </mat-panel-title>
                    <mat-panel-description class="subjects-icon">
                        <mat-icon>android</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <mat-list class="subjects-list">
                        <mat-list-item *ngFor="let subject of visibleServiceAccounts; last as last">
                        {{subject.namespace}}:{{subject.name}}
                            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header class="rbac-header">
            <mat-form-field>
                <mat-select placeholder="RoleBindings" [multiple]="true" [(value)]="selectedRoleBindings"
                            (valueChange)="calculateVisibleObjects()" [disableOptionCentering]="true">
                    <ngx-mat-select-search placeholderLabel="Filter" noEntriesFoundLabel="No matches found"
                                           [formControl]="roleBindingFilterCtrl">
                    </ngx-mat-select-search>
                    <mat-optgroup label="RoleBindings">
                        <mat-option *ngFor="let n of selectFilteredRoleBindings | async" [value]="n">
                        {{n.name}}
                        </mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="ClusterRoleBinding">
                        <mat-option *ngFor="let n of selectFilteredClusterRoleBindings | async" [value]="n">
                        {{n.name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="resetRoleBindingFilter()">
                <mat-icon aria-label="Reset">clear</mat-icon>
            </button>
        </mat-grid-tile-header>


        <mat-accordion [multi]="true" class="rolebindings-panel">
            <mat-expansion-panel [expanded]="true" [hideToggle]="true" *ngIf="visibleClusterRoleBindings.length>0"
                                 class="rolebindings-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ClusterRoleBindings
                    </mat-panel-title>
                    <mat-panel-description class="rolebindings-icon">
                        <mat-icon>fullscreen</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <mat-list class="rolebindings-list">
                        <mat-list-item *ngFor="let cr of visibleClusterRoleBindings; last as last">
                        {{cr.name}}
                            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true" [hideToggle]="true" *ngIf="visibleRoleBindings.length>0"
                                 class="rolebindings-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        RoleBindings
                    </mat-panel-title>
                    <mat-panel-description class="rolebindings-icon">
                        <mat-icon>fullscreen_exit</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <mat-list class="rolebindings-list">
                        <mat-list-item *ngFor="let r of visibleRoleBindings; last as last">
                        {{r.namespace}}:{{r.name}}
                            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header class="rbac-header">
            <mat-form-field>
                <mat-select placeholder="Roles" [multiple]="true" [(value)]="selectedRoles"
                            (valueChange)="calculateVisibleObjects()" [disableOptionCentering]="true">
                    <ngx-mat-select-search placeholderLabel="Filter" noEntriesFoundLabel="No matches found"
                                           [formControl]="roleFilterCtrl">
                    </ngx-mat-select-search>
                    <mat-optgroup label="Roles">
                        <mat-option *ngFor="let r of selectFilteredRoles | async" [value]="r">
                        {{r.name}}
                        </mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="ClusterRoles">
                        <mat-option *ngFor="let cr of selectFilteredClusterRoles | async" [value]="cr">
                        {{cr.name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="resetRoleFilter()">
                <mat-icon aria-label="Reset">clear</mat-icon>
            </button>
        </mat-grid-tile-header>

        <mat-accordion [multi]="true" class="roles-panel">
            <mat-expansion-panel [expanded]="true" [hideToggle]="true" *ngIf="visibleClusterRoles.length>0"
                                 class="roles-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ClusterRoles
                    </mat-panel-title>
                    <mat-panel-description class="roles-icon">
                        <mat-icon>fullscreen</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <mat-list class="roles-list">
                        <mat-list-item *ngFor="let cr of visibleClusterRoles; last as last">
                        {{cr.name}}
                            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true" [hideToggle]="true" *ngIf="visibleRoles.length>0"
                                 class="roles-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Roles
                    </mat-panel-title>
                    <mat-panel-description class="roles-icon">
                        <mat-icon>fullscreen_exit</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <mat-list class="roles-list">
                        <mat-list-item *ngFor="let r of visibleRoles; last as last">
                        {{r.namespace}}:{{r.name}}
                            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header class="rbac-header">
            <mat-form-field>
                <mat-select placeholder="Rules" [multiple]="true" [(value)]="selectedRoleBindingRule"
                            (valueChange)="calculateVisibleObjects()" [disableOptionCentering]="true">
                    <ngx-mat-select-search placeholderLabel="Filter" noEntriesFoundLabel="No matches found"
                                           [formControl]="roleBindingRuleFilterCtrl">
                    </ngx-mat-select-search>
                    <mat-optgroup *ngFor="let rbr of selectFilteredNamespacesRoleBindingRules | async" [label]="rbr.namespace">
                        <mat-option *ngFor="let rr of rbr.roleRules" [value]="rr">
                        {{rr.rule.display}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="resetRuleFilter()">
                <mat-icon aria-label="Reset">clear</mat-icon>
            </button>
        </mat-grid-tile-header>

        <mat-accordion [multi]="true" class="rules-panel">
            <mat-expansion-panel [expanded]="true" [hideToggle]="true" *ngFor="let nrr of visibleNamespacedRoleBindingRules"
                                 class="rules-expansion-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Rules ({{ nrr.namespace}})
                    </mat-panel-title>
                    <mat-panel-description class="rules-icon">
                        <mat-icon>lock_open</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <mat-list class="rules-list">
                        <mat-list-item *ngFor="let rr of nrr.roleRules; last as last">
                        {{rr.rule.display}}
                            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>
</mat-grid-list>
