
.rbac-panel{
    /*height: calc(100%);*/
    height: 50000px;
    align-items: stretch;
}
.rbac-header{
    height: 80px !important;
}

/*Subjects*/

.subjects-panel {
    padding: 85px 5px 5px;
    align-self: flex-start;
    width: 100%;
}

/deep/ .subjects-expansion-panel .mat-expansion-panel-body {
    padding: 0;
}

.subjects-icon{
    justify-content: flex-end;
}

.subjects-list{
    width: 100%;
}

/*rolebindings*/

.rolebindings-panel {
    padding: 85px 5px 5px;
    align-self: flex-start;
    width: 100%;
}

/deep/ .rolebindings-expansion-panel .mat-expansion-panel-body {
    padding: 0;
}

.rolebindings-icon{
    justify-content: flex-end;
}

.rolebindings-list{
    width: 100%;
}

/*Roles*/

.roles-panel {
    padding: 85px 5px 5px;
    align-self: flex-start;
    width: 100%;
}

/deep/ .roles-expansion-panel .mat-expansion-panel-body {
    padding: 0;
}

.roles-icon{
    justify-content: flex-end;
}

.roles-list{
    width: 100%;
}

/*Rules*/

.rules-panel {
    padding: 85px 5px 5px;
    align-self: flex-start;
    width: 100%;
}

/deep/ .rules-expansion-panel .mat-expansion-panel-body {
    padding: 0;
}

.rules-icon{
    justify-content: flex-end;
}

.rules-list{
    width: 100%;
}

